<div class="container">
    <br><br>
    <h1 class="centered">Nuestros productos</h1>
    <br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
            <img src="../../assets/product1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h3 class="card-title centered">Confite de Sésamo</h3>
                <p class="card-text justified">Un descanso con cubitos de SÉSAMO que gracias a su alta concentración en antioxidantes, fósforo, lecitina y colina hacen que el sésamo sea un alimento ideal para fortalecer la memoria o la concentración siendo útil en períodos de exámenes o, incluso, en enfermedades degenerativas que cursen con pérdida de memoria.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="../../assets/product2.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h3 class="card-title centered">Rodajitas de Manzana</h3>
                <p class="card-text justified">Pequeñas rodajas de manzana deshidratada que ayudan a lidiar con el insomnio, etc. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, animi quidem totam quo hic optio, reprehenderit doloremque cum numquam alias dolorem sit dolores veniam iusto repellat exercitationem iure, in vel.</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="../../assets/product3.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h3 class="card-title centered">Pack Cero Estrés</h3>
                <p class="card-text justified">Incluye NervioStress y ValexPluss, ambos productos excelentes para combatir el estrés diario. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus est architecto dolore sapiente ratione placeat consectetur repellendus eum? Voluptates quis optio omnis rem ipsum officia consectetur nulla temporibus odio qui!</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="../../assets/product4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title centered">Leches Vegetales en Polvo</h3>
                <p class="card-text justified">En sabores de Avena, Sésamo, Almendra y Coco, son productos completamente naturales en polvo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nihil, suscipit in dicta nemo illo tenetur asperiores iure eligendi debitis excepturi itaque harum voluptas adipisci molestiae tempore corporis consequuntur unde!</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="../../assets/product5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title centered">Forte Plus</h3>
                <p class="card-text justified">Suplemento alimenticio natural perfecto para reforzar las defensas de los niños. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus amet hic expedita sequi quia doloremque quae voluptate dolores alias fugiat ad, impedit architecto fugit nisi cupiditate accusantium ut voluptas rerum!</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="../../assets/product6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title centered">Pack Más Defensas</h3>
                <p class="card-text justified">Incluye Noni Plus, Calcificante Antianémico y Forte Plus en polvo. Fortalece tu sistema inmunológico. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sint dolores eos laborum, nam eius facilis voluptatum similique porro debitis impedit consequuntur est ipsa ipsum hic! Velit quidem voluptatum cupiditate?</p>
            </div>
            </div>
        </div>
    </div>
</div>