<div class="container" >
  <br><br>
  <section class="head pb-5">
    <div class="py5">
      <div class="card bg-light">
        <div class="card-body">
          <h1 class="text-center py-3">Contáctanos</h1>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                </div>              
                <div class="col-lg-10 col-md-10 col-sm-10 col-9 container">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d956.3726180791853!2d-68.1224764!3d-16.5013182!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f212c6716ceeb%3A0x4bf19a922ef1a196!2sEcoCenter%20Miraflores!5e0!3m2!1ses!2sbo!4v1636857213902!5m2!1ses!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>          
                </div>              
              </div>

              <div class="row pt-3">
                <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
                </div>              
                <div class="col-lg-10 col-md-10 col-sm-10 col-9 container">
                  <h3 class="font-weight-light">EcoCenter</h3>
                  <p>
                    Diaz Romero, La Paz - Bolivia, <br>
                    Celular: (+591) 77777777 <br>
                    Correo: ecocenter@gmail.com
                  </p>
                </div>              
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
              <br>
              <form action="" method="post" class="row g-3">
                <div class="col-md-6">
                    <label for="firstname" class="form-label">Nombre</label>
                    <input type="text" name="name" class="form-control" id="firstname" required>
                </div>
                <div class="col-md-6">
                    <label for="lastname" class="form-label">Apellido</label>
                    <input type="text" name="lastname" class="form-control" id="lastname" required>
                </div>
                <div class="col-md-8">
                    <label for="email" class="form-label">Correo</label>
                    <input type="email" class="form-control" name="mail" id="email" required>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="phone">Celular (opcional)</label>
                    <input type="text" class="form-control" name="phone" id="phone">
                </div>
                <div class="col-md-12">
                    <label for="comments" class="form-label">Comentarios o preguntas</label>
                    <textarea class="form-control" name="comment" id="comments" cols="30" rows="7" required></textarea>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary float-right">Enviar</button>
                </div>
            </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
       <div class="wrapper center-block" style="text-align: center;">
         <div class="button">
            <div class="icon">
               <i class="fab fa-facebook-f"></i>
            </div>
            <span>Facebook</span>
         </div>
         <div class="button">
            <div class="icon">
               <i class="fab fa-twitter"></i>
            </div>
            <span>Twitter</span>
         </div>
         <div class="button">
            <div class="icon">
               <i class="fab fa-instagram"></i>
            </div>
            <span>Instagram</span>
         </div>
         <div class="button">
            <div class="icon">
               <i class="fab fa-youtube"></i>
            </div>
            <span>YouTube</span>
         </div>
    </div>
    <br>
</div>